<nav>
  <div class="container layout-type block jcsb">
    <img src="../assets/images/logo-white.png" alt="">
    <ul class="d-flex navSelect">
      <li><a href="">系列鏡框</a></li>
      <li><a href="../pages/index.html">門市據點</a></li>
      <li><a href="">部落格</a></li>
      <li><a href="../pages/qa.html">常見問題</a></li>
    </ul>
  </div>
  
</nav>
